@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-1: #e74645;
    --color-2: #fb7756;
    --color-3: #fbf2b2;
    --color-4: #3ab7bf;
    --color-5: #fdfa66;
    --color-6: #ff77e9;
    --color-7: #58b368;
}

/*
#projectsList :nth-child(1), #projectsList :nth-child(7) {
    background-color: var(--color-1);
}

#projectsList :nth-child(2), #projectsList :nth-child(8) {
    background-color: var(--color-2);
}

#projectsList :nth-child(3), #projectsList :nth-child(9) {
    background-color: var(--color-3);
}

#projectsList :nth-child(4), #projectsList :nth-child(10) {
    background-color: var(--color-4);
}

#projectsList :nth-child(5), #projectsList :nth-child(11) {
    background-color: var(--color-5);
}

#projectsList :nth-child(6), #projectsList :nth-child(12) {
    background-color: var(--color-6);
}
*/